<div class="container">
  <form class="mt-3 mb-5" novalidate #form="ngForm" (ngSubmit)="addPost(form)">
    <div class="alert alert-danger"
         *ngIf="postTitle.errors?.required && postTitle.touched"
    >
      Please enter title
    </div>
    <div class="alert alert-danger"
         *ngIf="postBody.errors?.required && postBody.touched"
    >
      Please enter post
    </div>
    <div class="alert alert-danger"
         *ngIf="addError"
    >
      Post add error
    </div>

    <div class="alert alert-success"
         *ngIf="addSuccess"
    >
      Post added successfully!
    </div>
    <div class="alert alert-danger"
         *ngIf="editError"
    >
      Post edit error
    </div>

    <div class="alert alert-success"
         *ngIf="editSuccess"
    >
      Post edited successfully!
    </div>
    <div class="alert alert-danger"
         *ngIf="removeError"
    >
      Post remove error
    </div>

    <div class="alert alert-success"
         *ngIf="removeSuccess"
    >
      Post removed successfully!
    </div>
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Enter title:</label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               [(ngModel)]="post.title"
               name="title"
               #postTitle="ngModel"
               id="title"
               required
        >
      </div>
    </div>
    <div class="form-group row">
      <label for="body" class="col-sm-2 col-form-label">Enter post:</label>
      <div class="col-sm-10">
        <textarea class="form-control"
                  rows="5"
                 [(ngModel)]="post.body"
                 name="body"
                 #postBody="ngModel"
                 id="body"
                 required
        ></textarea>
      </div>
    </div>
    <button class="btn btn-primary"
    >
      Add post
    </button>
  </form>
  <div class="card mb-3"
       *ngFor="let post of posts; let i = index"
  >
    <h5 class="card-header">User {{ post.userId }}</h5>
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.body }}</p>
      <textarea *ngIf="post.editing" class="form-control mb-3" name="body" [(ngModel)]="post.body" ></textarea>
      <button class="btn btn-danger" (click)="removePost(i)">Delete</button>
      <button class="btn btn-warning" *ngIf="!post.editing" (click)="post.editing = !post.editing">Edit</button>
      <button class="btn btn-warning" *ngIf="post.editing" (click)="post.editing = !post.editing" (click)="editPost(i, post)">Save</button>
      <button class="btn btn-info">Show more by user {{ post.userId }}</button>
    </div>
  </div>
</div>
